<p-card>
    <form [formGroup]="SignUpform" class="form-container">
        <!-- Close Button -->
        <div class="CancelClick">
            <p-button icon="pi pi-times" styleClass="p-button-text" (click)="CancelClick()"></p-button>
        </div>

        <!-- Sign Up Heading -->
        <h1>{{ 'signUp' | transloco }}</h1>
        <h5>{{ 'alreadyHave' | transloco }}<a routerLink="/log-in" class="login-link"><strong>{{ 'logIn' | transloco }}</strong></a></h5>

       <!-- Email Field -->
       <div class="inputField">
        <label class="col-12">
            <span class="text-red-400">*&nbsp;</span>{{ 'email' | transloco }}
        </label>
        <div class="input-field col-12">
            <input 
                type="email" 
                id="email" 
                name="email" 
                placeholder="--{{ 'email' | transloco }}--" 
                formControlName="Email"
                [ngClass]="{'invalid-input': SignUpform.controls['Email'].invalid && SignUpform.controls['Email'].touched}"
            />
            <div *ngIf="SignUpform.controls['Email'].invalid && SignUpform.controls['Email'].touched" class="error-message">
                <small *ngIf="SignUpform.controls['Email'].errors?.['required']">{{ 'requiredField' | transloco }}</small>
                <small *ngIf="SignUpform.controls['Email'].errors?.['email']">{{ 'invalidEmail' | transloco }}</small>
            </div>
        </div>
    </div>

    <!-- Password Field -->
    <div class="inpurField">
        <label class="col-12">
            <span class="text-red-400">*&nbsp;</span>{{ 'password' | transloco }}
        </label>
        <div class="input-field col-12">
            <p-password 
                id="password" 
                name="password" 
                placeholder="--{{ 'password' | transloco }}--" 
                formControlName="Password" 
                [toggleMask]="true">
            </p-password>
            <div *ngIf="SignUpform.controls['Password'].invalid && SignUpform.controls['Password'].touched" class="error-message">
                <small *ngIf="SignUpform.controls['Password'].errors?.['required']">{{ 'requiredField' | transloco }}</small>
                <small *ngIf="SignUpform.controls['Password'].errors?.['minlength']">{{ 'passwordMinLength' | transloco }}</small>
                <small *ngIf="SignUpform.controls['Password'].errors?.['maxlength']">{{ 'passwordMaxLength' | transloco }}</small>
            </div>
        </div>
    </div>

        <!-- Sign Up Button -->
        <div class="SignUp">
            <p-button pRipple (click)="SaveUpdateClick()" type="submit" label="{{ 'signUp' | transloco }}" styleClass="signup-btn" [outlined]="true" [disabled]="SignUpform.invalid"></p-button>
        </div>

        <!-- Terms and Conditions -->
        <div class="terms">
            <input type="checkbox" id="agreeTerms" formControlName="AgreeTerms"/>
            <label>{{ 'agreeTerms' | transloco }} <a routerLink="/terms" class="sign-up-link">{{ 'termsOfUse' | transloco }}</a> {{ 'and' | transloco }} <a routerLink="/privacy-policy" class="sign-up-link">{{ 'privacyPolicyKB' | transloco }}</a></label>
        </div>

        <!-- Separator -->
        <div class="separator">
            <span>or</span>
        </div>

        <!-- Social Login Options -->
        <div class="social-buttons">
            <p-button icon="pi pi-facebook" label="{{ 'continueWithFacebook' | transloco }}" styleClass="social-button facebook"></p-button>
            <p-button icon="pi pi-google" label="{{ 'continueWithGoogle' | transloco }}" styleClass="social-button google" [text]="true" [raised]="true"></p-button>
        </div>
    </form>
</p-card>
