<header>
    <h1>{{ 'bookingSearchTitle' | transloco }}</h1>
</header>

<p-card>
    <div class="filter-container">
      <!-- Sport Dropdown -->
      <div class="filter-item">
        <h3>{{ 'sport' | transloco }}</h3>
        <p-dropdown 
          [options]="(filteredSports$ | async) || []" 
          [(ngModel)]="selectedSport" 
          optionLabel="name" 
          [filter]="true" 
          [showClear]="true"
          placeholder="--{{ 'sportPlaceholder' | transloco }}--">
          <ng-template pTemplate="filter">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
              <input 
                type="text" 
                pInputText 
                [(ngModel)]="sportFilterValue" 
                (input)="resetFilter('sportFilterValue')" 
                placeholder="{{ 'filterSports' | transloco }}">
            </div>
          </ng-template>
        </p-dropdown>
      </div>
  
      <!-- Location Dropdown -->
      <div class="filter-item">
        <h3>{{ 'where' | transloco }}</h3>
        <p-dropdown 
          [options]="(filteredLocations$ | async) || []" 
          [(ngModel)]="selectedWhere" 
          optionLabel="name" 
          [filter]="true" 
          [showClear]="true"
          placeholder="--{{ 'wherePlaceholder' | transloco }}--">
          <ng-template pTemplate="filter">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
              <input 
                type="text" 
                pInputText 
                [(ngModel)]="locationFilterValue" 
                (input)="resetFilter('locationFilterValue')" 
                placeholder="{{ 'filterWhere' | transloco }}">
            </div>
          </ng-template>
        </p-dropdown>
      </div>
  
      <!-- Time Dropdown -->
      <!-- <div class="filter-item">
        <h3>{{ 'when' | transloco }}</h3>
        <p-dropdown 
          [options]="(filteredTimes$ | async) || []" 
          [(ngModel)]="selectedWhen" 
          optionLabel="name" 
          [filter]="true" 
          placeholder="--{{ 'whenPlaceholder' | transloco }}--">
          <ng-template pTemplate="filter">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
              <input 
                type="text" 
                pInputText 
                [(ngModel)]="timeFilterValue" 
                (input)="resetFilter('timeFilterValue')" 
                placeholder="{{ 'filterPlaceholder' | transloco }}">
            </div>
          </ng-template>
        </p-dropdown>
      </div> -->
      <div class="filter-item">
        <h3>{{ 'when' | transloco }}</h3>
        <p-calendar placeholder="--{{ 'whenPlaceholder' | transloco }}--" dateFormat="dd MM yy" [showIcon]="true" [iconDisplay]="'input'" [(ngModel)]="date" 
        [minDate]="minDate"  [maxDate]="maxDate" [readonlyInput]="true" [showButtonBar]="true"/>
      </div>

      <!-- <div class="filter-item"> -->
        <i class="pi pi-search" style="font-size: 2rem"></i>
      <!-- </div> -->
    </div>

    <!-- <button 
      pButton 
      label="{{ 'resetFilters' | transloco }}" 
      (click)="resetFilter('sportFilterValue')"
      class="p-button-warning">
    </button> -->
  </p-card>
  