<div class="container">
    <header>
        <h1>{{ 'terms.title' | transloco }}</h1>
        <p>{{ 'terms.lastUpdated' | transloco }}: <span id="last-updated-date">25/11/2024</span></p>
    </header>

    <section>
        <h2>{{ 'terms.section1.title' | transloco }}</h2>
        <p>{{ 'terms.section1.content' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'terms.section2.title' | transloco }}</h2>
        <p>{{ 'terms.section2.content1' | transloco }}</p>
        <p>{{ 'terms.section2.content2' | transloco }}</p>
        <p>{{ 'terms.section2.content3' | transloco }}</p>
        <p>{{ 'terms.section2.content4' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'terms.section3.title' | transloco }}</h2>
        <p><strong>{{ 'terms.section3.content1.title' | transloco }}:</strong> {{ 'terms.section3.content1.content1' | transloco }}</p>
        <p><strong>{{ 'terms.section3.content2.title' | transloco }}:</strong> {{ 'terms.section3.content2.content1' | transloco }}</p>
        <p><strong>{{ 'terms.section3.content3.title' | transloco }}:</strong> {{ 'terms.section3.content3.content1' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'terms.section4.title' | transloco }}</h2>
        <p><strong>{{ 'terms.section4.content1.title' | transloco }}:</strong> {{ 'terms.section4.content1.content1' | transloco }}</p>
        <p><strong>{{ 'terms.section4.content2.title' | transloco }}:</strong> {{ 'terms.section4.content2.content1' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'terms.section5.title' | transloco }}</h2>
        <p>{{ 'terms.section5.content1' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'terms.section6.title' | transloco }}</h2>
        <p><strong>{{ 'terms.section6.content1.title' | transloco }}:</strong> {{ 'terms.section6.content1.content1' | transloco }}</p>
        <p><strong>{{ 'terms.section6.content2.title' | transloco }}:</strong> {{ 'terms.section6.content2.content1' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'terms.section7.title' | transloco }}</h2>
        <p><strong>{{ 'terms.section7.content1.title' | transloco }}:</strong> {{ 'terms.section7.content1.content1' | transloco }}</p>
        <p><strong>{{ 'terms.section7.content2.title' | transloco }}:</strong> {{ 'terms.section7.content2.content1' | transloco }}</p>
        <p><strong>{{ 'terms.section7.content3.title' | transloco }}:</strong> {{ 'terms.section7.content3.content1' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'terms.section8.title' | transloco }}</h2>
        <p><strong>{{ 'terms.section8.content1.title' | transloco }}:</strong> {{ 'terms.section8.content1.content1' | transloco }}</p>
        <p><strong>{{ 'terms.section8.content2.title' | transloco }}:</strong> {{ 'terms.section8.content2.content1' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'terms.section9.title' | transloco }}</h2>
        <p>{{ 'terms.section9.content1' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'terms.section10.title' | transloco }}</h2>
        <p><strong>{{ 'terms.section10.content1.title' | transloco }}:</strong> {{ 'terms.section10.content1.content1' | transloco }}</p>
        <p><strong>{{ 'terms.section10.content2.title' | transloco }}:</strong> {{ 'terms.section10.content2.content1' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'terms.section11.title' | transloco }}</h2>
        <p>{{ 'terms.section11.content1' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'terms.section12.title' | transloco }}</h2>
        <p>{{ 'terms.section12.content1' | transloco }}</p>
        <p>{{ 'terms.section12.content2' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'terms.section13.title' | transloco }}</h2>
        <p><strong>{{ 'terms.section13.content1.title' | transloco }}:</strong> {{ 'terms.section13.content1.content1' | transloco }}</p>
        <p><strong>{{ 'terms.section13.content2.title' | transloco }}:</strong> {{ 'terms.section13.content2.content1' | transloco }}</p>
    </section>
</div>
