<div class="header">
  <p-menubar>
    <ng-template pTemplate="start">
      <div class="menu">
        <a routerLink=""><img [src]="'assets/KB-logo-new.png'" alt="" width="200" /></a>
      </div>
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
    </ng-template>
    <ng-template pTemplate="end">
      <nav class="menu-actions">
        <div class="flex justify-content-between w-full">
          <!-- transloco -->
          <div (click)="toggleDropdown($event)" class="dropdown-container">
            <i class="pi pi-globe">{{ selectedLanguage }}</i> 
            <div *ngIf="isDropdownVisible" class="dropdown-menu">
              <ul>
                <li *ngFor="let option of languageOptions" (click)="changeLanguage(option.value)">
                  {{ option.label }} 
                </li>
              </ul>
            </div>
          </div>
          <!-- support button -->
          <i class="pi pi-question-circle" style="color: rgb(81, 127, 224)"></i>
          <!-- Sign Up Button -->
          <a class="p-button p-button-outlined font-bold mr-2" routerLink="/sign-up">{{ 'signUp' | transloco }}</a>
          <!-- Log In Button -->
          <a class="p-button font-bold ml-3" routerLink="/log-in">{{ 'logIn' | transloco }}</a>
        </div>
      </nav>
    </ng-template>
  </p-menubar>
</div>
