<p-menubar>
  <ng-template pTemplate="start">
    <div class="menu">
      <a routerLink="/man"><img [src]="getLogoSrc()" alt="" width="170" /></a>
      <i class="pi pi-bars ml-2 mt-1" (click)="sidebarVisible1 = true"> </i>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex flex-row align-items-center gap-2">
      <i class="pi-question-circle"></i>
      <nav>
        <a class="button" routerLink="/sign-up">Sign Up</a> |
        <a class="button" routerLink="/log-in">Log In</a>
      </nav>
    </div> 
  </ng-template>
</p-menubar>