<div class="header">
  <p-menubar>
    <ng-template pTemplate="start">
      <div class="menu">
        <a routerLink=""><img [src]="'assets/new-logo.png'" alt="" width="170" /></a>
      </div>
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
    </ng-template>
    <ng-template pTemplate="end">
      <nav class="menu-actions">
        <div class="flex justify-content-between w-full">
          <!-- <i class="pi pi-globe" style="color: rgb(81, 127, 224)" (click)="toggleDropdown($event)"></i> -->
          <app-transloco></app-transloco>
          <!-- <p-dropdown class="pi pi-globe" [options]="languageOptions" [(ngModel)]="selectedLanguage" (onChange)="changeLanguage(selectedLanguage)"></p-dropdown> -->
          <i class="pi pi-question-circle" style="color: rgb(81, 127, 224)"></i>
          <!-- Sign Up Button -->
          <a class="p-button p-button-outlined font-bold mr-2" routerLink="/sign-up">{{ 'signUp' | transloco }}</a>
          <!-- Log In Button -->
          <a class="p-button font-bold ml-3" routerLink="/log-in">{{ 'logIn' | transloco }}</a>
        </div>
      </nav>
    </ng-template>
  </p-menubar>
</div>
