<div class="header">
  <p-menubar>
    <ng-template pTemplate="start">
      <div class="menu">
        <a routerLink=""><img [src]="'assets/KB-logo-new.png'" alt="" width="200" /></a>
      </div>
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
    </ng-template>
    <ng-template pTemplate="end">
      <nav class="menu-actions">
        <div (click)="toggleDropdown($event)" class="dropdown-container">
          <i class="pi pi-globe">{{ selectedLanguage }}</i> 
          <div *ngIf="isDropdownVisible" class="dropdown-menu">
            <ul>
              <li *ngFor="let option of languageOptions" (click)="changeLanguage(option.value)">
                {{ option.label }} 
              </li>
            </ul>
          </div>
        </div>
        
        <i class="pi pi-question-circle" routerLink="/help-center" style="color: rgb(81, 127, 224)"></i>
        <app-theme></app-theme>
      
        <a class="p-button p-button-outlined font-bold" routerLink="/sign-up">{{ 'signUp' | transloco }}</a>
        <a class="p-button font-bold" routerLink="/log-in">{{ 'logIn' | transloco }}</a>
      </nav>
      
    </ng-template>
  </p-menubar>
</div>
