<div class="container">
    <div class="help-center">
        <header>
            <h1>{{ 'helpCenter.title' | transloco}}</h1>
        </header>
        <a routerLink="/faq">
            <div class="icon-circle">
                <img [src]="'assets/helpCenter/faq.png'" alt="Frequently Asked Questions" />
            </div>
            <span>{{ 'helpCenter.icon1' | transloco}}</span>
        </a>
        <a routerLink="/terms">
            <div class="icon-circle">
                <img [src]="'assets/helpCenter/terms.png'" alt="Terms of Use" />
            </div>
            <span>{{ 'helpCenter.icon2' | transloco}}</span>
        </a>
        <a routerLink="/privacy-policy">
            <div class="icon-circle">
                <img [src]="'assets/helpCenter/privacy-policy.png'" alt="Privacy Policy" />
            </div>
            <span>{{ 'helpCenter.icon3' | transloco}}</span>
        </a>
        <a routerLink="/contact">
            <div class="icon-circle">
                <img [src]="'assets/helpCenter/contact-us.png'" alt="Contact Us" />
            </div>
            <span>{{ 'helpCenter.icon4' | transloco}}</span>
        </a>
    </div>
</div>
