<div class="container">
  <header>
    <h1>{{ 'faq.title' | transloco }}</h1>
    <p>{{ 'faq.content' | transloco }}</p>
  </header>

  <section>
    <h1>{{ 'faq.section1.title' | transloco }}</h1>
    <details>
      <summary><strong>{{ 'faq.section1.q1' | transloco }}</strong></summary>
      <p>{{ 'faq.section1.a1' | transloco }}</p>
    </details>
    <details>
      <summary><strong>{{ 'faq.section1.q2' | transloco }}</strong></summary>
      <p>{{ 'faq.section1.a2' | transloco }}</p>
    </details>
  </section>

  <section>
    <h1>{{ 'faq.section2.title' | transloco }}</h1>
    <details>
      <summary><strong>{{ 'faq.section2.q3' | transloco }}</strong></summary>
      <p>{{ 'faq.section2.a3' | transloco }}</p>
    </details>
    <details>
      <summary><strong>{{ 'faq.section2.q4' | transloco }}</strong></summary>
      <p>{{ 'faq.section2.a4' | transloco }}</p>
    </details>
    <details>
      <summary><strong>{{ 'faq.section2.q5' | transloco }}</strong></summary>
      <p>{{ 'faq.section2.a5' | transloco }}</p>
    </details>
  </section>

  <section>
    <h1>{{ 'faq.section3.title' | transloco }}</h1>
    <details>
      <summary><strong>{{ 'faq.section3.q6' | transloco }}</strong></summary>
      <p>{{ 'faq.section3.a6' | transloco }}</p>
    </details>
    <details>
      <summary><strong>{{ 'faq.section3.q7' | transloco }}</strong></summary>
      <p>{{ 'faq.section3.a7' | transloco }}</p>
    </details>
  </section>

  <section>
    <h1>{{ 'faq.section4.title' | transloco }}</h1>
    <details>
      <summary><strong>{{ 'faq.section4.q8' | transloco }}</strong></summary>
      <p>{{ 'faq.section4.a8' | transloco }}</p>
    </details>
    <details>
      <summary><strong>{{ 'faq.section4.q9' | transloco }}</strong></summary>
      <p>{{ 'faq.section4.a9' | transloco }}</p>
    </details>
  </section>

  <section>
    <h1>{{ 'faq.section5.title' | transloco }}</h1>
    <details>
      <summary><strong>{{ 'faq.section5.q10' | transloco }}</strong></summary>
      <p>{{ 'faq.section5.a10' | transloco }}</p>
    </details>
  </section>
</div>
