<div class="container">
    <header>
        <h1>{{ 'aboutUs.title' | transloco }}</h1>
        <p>{{ 'aboutUs.content' | transloco }}</p>
    </header>

    <section>
        <h2>{{ 'aboutUs.section1.title' | transloco }}</h2>
        <p>{{ 'aboutUs.section1.content' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'aboutUs.section2.title' | transloco }}</h2>
        <p>{{ 'aboutUs.section2.content' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'aboutUs.section3.title' | transloco }}</h2>
        <p>{{ 'aboutUs.section3.content' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'aboutUs.section4.title' | transloco }}</h2>
        <p>{{ 'aboutUs.section4.content' | transloco }}</p>
    </section>
</div>