<footer class="footer">
  <div class="footer-container">
    <!-- Logo Section -->
    <div class="footer-logo">
      <a routerLink="">
        <img src="assets/KB-logo-new.png" alt="KB Logo" width="150" />
      </a>
    </div>

    <!-- Links Section -->
    <div class="footer-links">
      <!-- For Business -->
      <div>
        <h6></h6>
        <ul>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <!-- About -->
      <div>
        <h6>About</h6>
        <ul>
          <li><a routerLink="/about-us">About Us</a></li>
        </ul>
      </div>
      <!-- Support -->
      <div>
        <h6>Support</h6>
        <ul>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>
      <!-- Legal -->
      <div>
        <h6>Legal</h6>
        <ul>
          <li><a routerLink="/terms">Terms of Use</a></li>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Bottom Section -->
  <div class="footer-bottom">
    <p>© 2024 | KB Sport Center Sdn. Bhd. 202411140001 (1234567-K)</p>
    <div class="footer-socials">
      <a href="https://web.whatsapp.com/"><i class="pi pi-whatsapp"></i></a>
      <a href="https://www.facebook.com/"><i class="pi pi-facebook"></i></a>
      <a href="https://www.instagram.com/"><i class="pi pi-instagram"></i></a>
      <a href="https://www.tiktok.com/"><i class="pi pi-tiktok"></i></a>
      <a href="https://www.linkedin.com/"><i class="pi pi-linkedin"></i></a>
    </div>
  </div>
</footer>

