<div class="container">
    <header>
        <h1>Book to play</h1>
    </header>
    
    <p-card>
        <section class="sport">
            <h1>Sport</h1>
            <p-dropdown [options]="sports" [(ngModel)]="selectedSport" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
                placeholder="Select a Sport" styleClass="w-20rem">
                <ng-template pTemplate="filter" let-options="options">
                    <div class="flex gap-1">
                        <div class="p-inputgroup" (click)="$event.stopPropagation()">
                            <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                            <input 
                                type="text"
                                pInputText
                                placeholder="Filter" 
                                [(ngModel)]="filterValue"
                                (keyup)="customFilterFunction($event, options)" />
                        </div>
                        <button pButton icon="pi pi-times" (click)="resetFunction(options)" severity="secondary"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                        <img 
                        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'flag flag-' + selectedSport.code.toLowerCase()"
                        class="flag-img" />
                    
                        <div>{{ selectedOption.name }}</div>
                    </div>
                </ng-template>
                <ng-template pTemplate="item" let-sport>
                    <div class="flex align-items-center gap-2">
                        <img 
                        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'flag flag-' + selectedSport.code.toLowerCase()"
                        class="flag-img" />
                        <div>{{ sport.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </section>
        <section>
            <h1>Where</h1>
            <p-dropdown [options]="where" [(ngModel)]="selectedWhere" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
                placeholder="Search venue name, city, or state" styleClass="w-20rem">
                <ng-template pTemplate="filter" let-options="options">
                    <div class="flex gap-1">
                        <div class="p-inputgroup" (click)="$event.stopPropagation()">
                            <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                            <input 
                                type="text"
                                pInputText
                                placeholder="Filter" 
                                [(ngModel)]="filterValue"
                                (keyup)="customFilterFunction($event, options)" />
                        </div>
                        <button pButton icon="pi pi-times" (click)="resetFunction(options)" severity="secondary"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                        <img 
                        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'flag flag-' + selectedSport.code.toLowerCase()"
                        class="flag-img" />
                    
                        <div>{{ selectedOption.name }}</div>
                    </div>
                </ng-template>
                <ng-template pTemplate="item" let-where>
                    <div class="flex align-items-center gap-2">
                        <img 
                        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'flag flag-' + selectedSport.code.toLowerCase()"
                        class="flag-img" />
                        <div>{{ where.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </section>
        <section>
            <h1>When</h1>
            <p-dropdown [options]="when" [(ngModel)]="selectedWhen" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
                placeholder="Pick a Day" styleClass="w-20rem">
                <ng-template pTemplate="filter" let-options="options">
                    <div class="flex gap-1">
                        <div class="p-inputgroup" (click)="$event.stopPropagation()">
                            <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                            <input 
                                type="text"
                                pInputText
                                placeholder="Filter" 
                                [(ngModel)]="filterValue"
                                (keyup)="customFilterFunction($event, options)" />
                        </div>
                        <button pButton icon="pi pi-times" (click)="resetFunction(options)" severity="secondary"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                        <img 
                        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'flag flag-' + selectedSport.code.toLowerCase()"
                        class="flag-img" />
                    
                        <div>{{ selectedOption.name }}</div>
                    </div>
                </ng-template>
                <ng-template pTemplate="item" let-when>
                    <div class="flex align-items-center gap-2">
                        <img 
                        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'flag flag-' + selectedSport.code.toLowerCase()"
                        class="flag-img" />
                        <div>{{ when.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </section>
    </p-card>
</div>
