<div class="container">
    <header>
        <h1>{{ 'privacyPolicy.title' | transloco }}</h1>
        <p>{{ 'privacyPolicy.lastUpdated' | transloco }}: <span id="last-updated-date">25/11/2024</span></p>
    </header>

    <section>
        <h2>{{ 'privacyPolicy.section1.title' | transloco }}</h2>
        <p><strong>{{ 'privacyPolicy.section1.intro' | transloco }}</strong></p>
        <p><strong>{{ 'privacyPolicy.section1.content1.title' | transloco }}: </strong>{{ 'privacyPolicy.section1.content1.content1' | transloco}}</p>
        <p><strong>{{ 'privacyPolicy.section1.content2.title' | transloco }}: </strong>{{ 'privacyPolicy.section1.content2.content1' | transloco}}</p>
        <p><strong>{{ 'privacyPolicy.section1.content3.title' | transloco }}: </strong>{{ 'privacyPolicy.section1.content3.content1' | transloco}}</p>
        <p><strong>{{ 'privacyPolicy.section1.content4.title' | transloco }}: </strong>{{ 'privacyPolicy.section1.content4.content1' | transloco}}</p>
        <p><strong>{{ 'privacyPolicy.section1.content5.title' | transloco }}: </strong>{{ 'privacyPolicy.section1.content5.content1' | transloco}}</p>
    </section>

    <section>
        <h2>{{ 'privacyPolicy.section2.title' | transloco }}</h2>
        <p><strong>{{ 'privacyPolicy.section2.intro' | transloco }}</strong></p>
        <p>{{ 'privacyPolicy.section2.content1' | transloco }}</p>
        <p>{{ 'privacyPolicy.section2.content2' | transloco }}</p>
        <p>{{ 'privacyPolicy.section2.content3' | transloco }}</p>
        <p>{{ 'privacyPolicy.section2.content4' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'privacyPolicy.section3.title' | transloco }}</h2>
        <p><strong>{{ 'privacyPolicy.section3.intro' | transloco }}</strong></p>
        <p>{{ 'privacyPolicy.section3.content1' | transloco }}</p>
        <p>{{ 'privacyPolicy.section3.content2' | transloco }}</p>    
    </section>

    <section>
        <h2>{{ 'privacyPolicy.section4.title' | transloco }}</h2>
        <p>{{ 'privacyPolicy.section4.content1' | transloco }}</p>    
    </section>

    <section>
        <h2>{{ 'privacyPolicy.section5.title' | transloco }}</h2>
        <p><strong>{{ 'privacyPolicy.section5.intro' | transloco }}</strong></p>
        <p>{{ 'privacyPolicy.section5.content1' | transloco }}</p>
        <p>{{ 'privacyPolicy.section5.content2' | transloco }}</p>
        <p>{{ 'privacyPolicy.section5.content3' | transloco }}</p>
        <p>{{ 'privacyPolicy.section5.content4' | transloco }}</p>
    </section>

    <section>
        <h2>{{ 'privacyPolicy.section6.title' | transloco }}</h2>
        <p>{{ 'privacyPolicy.section6.content1' | transloco }}</p>    
    </section>

    <section>
        <h2>{{ 'privacyPolicy.section7.title' | transloco }}</h2>
        <p>{{ 'privacyPolicy.section7.content1' | transloco }}</p>    
    </section>

    <section>
        <h2>{{ 'privacyPolicy.section8.title' | transloco }}</h2>
        <p>{{ 'privacyPolicy.section8.content1' | transloco }}</p>    
    </section>
</div>
